* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216deg, 12%, 8%);
  font-size: 15px;
  min-height: 100vh;
}
.main {
  background-color: hsl(213deg, 19%, 18%);
  color: hsl(0deg, 0%, 100%);
  max-width: 27em;
  margin: 2em;
  padding: 1.5em 3em;
  border-radius: 2em;
}
.main h2 {
  text-align: center;
}
.main p {
  margin: 2em 0;
  color: hsl(217deg, 12%, 63%);
}
.main p.thankyoutext {
  text-align: center;
}
.main .starImg {
  background: hsl(213deg, 18%, 24%);
  margin: 1em 0;
  padding: 0.9em;
  border-radius: 50%;
}
.main .thanksimg {
  display: block;
  margin: 1em auto;
}
.main span {
  color: hsl(25deg, 97%, 53%);
  background: hsl(213deg, 18%, 24%);
  padding: 0.2em 0.4em;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2em auto;
  border-radius: 1em;
  text-align: center;
}
.main .scoreopt {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}
.main .score {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(213deg, 18%, 24%);
  color: hsl(217deg, 12%, 63%);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin: 0 0.1em;
  padding: 1.5em;
  border: none;
}
.main .score:hover {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.main .selected {
  background: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
}
.main .submit-button {
  width: 100%;
  display: block;
  margin: 0.8em auto;
  padding: 0.8em;
  color: hsl(0deg, 0%, 100%);
  background: hsl(25deg, 97%, 53%);
  border-radius: 2em;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.main .submit-button:hover {
  background: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 1em;
  color: hsl(0deg, 0%, 100%);
}
.attribution a {
  color: hsl(228deg, 59%, 72%);
}